<HTML ng-app="one">
    <SCRIPT src="angular.js"></SCRIPT>
    <SCRIPT>
        var data = function($scope){
            $scope.records=[
                {regno:21, name:'Peter', marks:75},
                {regno:5671, name:'Snake', marks:0},
                {regno:75, name:'John', marks:85}];
            }
        var M1 = angular.module("one",[]);
        M1.controller("ctrl1", data);
    </SCRIPT>
    <DIV ng-controller="ctrl1">
        <TABLE>
            <TR>
                <TH>Registration</TH>
                <TH>Name</TH>
                <TH>Marks</TH>
                <TH>Percentage</TH>
                <TH>Result</TH>
            </TR>
            <TR ng-repeat="rec in records">
                <TD>{{rec.regno}}</TD>
                <TD>{{rec.name}}</TD>
                <TD>{{rec.marks}}</TD>
                <TD>{{(rec.marks*100/150).toFixed(2)}}</TD>
                <TD>
                    <B ng-if="rec.marks>=60">
                        Pass
                    </B>
                    <B ng-if="rec.marks<60">
                        Fail
                    </B>
                </TD>
            </TR>
        </TABLE>
    </DIV>
</HTML>